@font-face {
    font-family: "nebula";
    src: url("../font/Nebula-Font/Nebula-Regular.otf");
}
@font-face {
    font-family: "daisy";
    src: url("../font/font/DaisyRegular.ttf");
}
@font-face {
    font-family: "fashionwack";
    src: url("../font/fashion_wacks/FashionWacksRegular.ttf");
}
@font-face {
    font-family: "lato";
    src: url("../font/lato/Lato-Regular.ttf");
}
.title {
    color:rgb(101, 1, 1);
    font-family: "daisy", sans-serif;
    text-align: center;
    font-size: 50px;
}
.lien {
    color: rgb(101, 1, 1);
    font-family: "lato", sans-serif;
    font-size: 20px;
}
input{
    color: rgb(101, 1, 1);
    border-radius: 5px;
    background-color: white;
    border-color: rgb(221, 184, 213);
    border-collapse: collapse;
    height: 20px;
}
table{
    text-align: center;
    border-radius: 10px;
    border-color: ;
    width: 100%;
    color: rgb(255, 255, 255);
    font-family: "lato", sans-serif;
    border-bottom-color: rgb(101, 1, 1);
    background-color: rgb(101, 1, 1);
}
table th{
    height: 40px;
}
table td{
    height: 40px;
}
body {
    background-color: rgb(221, 184, 213);
}
p{
    color: rgb(101, 1, 1);
    font-family: "lato", sans-serif;
    font-size: 20px;
}

.etu{
    color: rgb(101, 1, 1);
    font-family: "lato", sans-serif;
}